build
dist
old
pywfa/WFA2-lib
pywfa.egg-info
.gitignore
.*
pywfa/WFA2-lib/examples
pywfa/WFA2-lib/img
pywfa/WFA2-lib/lib
pywfa/WFA2-lib/build
pywfa/WFA2-lib/bin
pywfa/WFA2-lib/scripts
pywfa/WFA2-lib/tools
pywfa/WFA2-lib/bindings
pywfa/__pycache__/
