build
dist
old
pywfa/*.so
pywfa/*.c
pywfa.egg-info
.gitignore
.*
/pywfa/WFA2_lib/examples
/pywfa/WFA2_lib/img
/pywfa/WFA2_lib/lib/*
/pywfa/WFA2_lib/build
/pywfa/WFA2_lib/scripts
/pywfa/WFA2_lib/tools
/pywfa/WFA2_lib/bindings
/pywfa/__pycache__/
/pywfa/WFA2_lib/lib/
/pywfa/WFA2_lib/bin/
