include pywfa/*
include pywfa/WFA2-lib
include tests/*
exclude old
#exclude pywfa/WFA2-lib/examples
#exclude pywfa/WFA2-lib/img
#exclude pywfa/WFA2-lib/lib
#exclude pywfa/WFA2-lib/build
#exclude pywfa/WFA2-lib/bin
#exclude pywfa/WFA2-lib/scripts
#exclude pywfa/WFA2-lib/tools
#exclude pywfa/WFA2-lib/bindings